@page "/create-user"

<h3>@Shared.CreateUserPrompt</h3>

<EditForm Model="this" OnValidSubmit="HandleSubmit">
    <InputText @bind-Value="NickName" placeholder="@Shared.CreateUserNicknamePlaceholder" />
    <button type="submit">@Content.SaveText</button>
    
    @if (!string.IsNullOrEmpty(ErrorMessage))
    {
        <div style="color:red" class="mt-2">@ErrorMessage</div>
    }
</EditForm>

