@page "/create-user"


<h3>How would you like me to call you?</h3>

<EditForm Model="this" OnValidSubmit="HandleSubmit">
    <InputText @bind-Value="NickName" placeholder="Enter your nickname (you can change it later)" />
    <button type="submit">Submit</button>
    
    @if (!string.IsNullOrEmpty(ErrorMessage))
    {
        <div style="color:red" class="mt-2">@ErrorMessage</div>
    }
</EditForm>

