@page "/"
@using OneActivity.Core.Components.HomeComponents

@if (!_dbReady)
{
    <p>Preparing app…</p>
}
else if (CurrentUser == null)
{
    <CreateUser OnUserCreated="HandleUserCreated" />
}
else
{
    <DailyActivity CurrentUser="CurrentUser" OnEntryAdded="HandleEntryAdded" />
}
