@page "/settings"
@using OneActivity.Core.Components.SettingsComponents
@using OneActivity.Core.Services
@inject UserService UserService
@inject NotificationService NotificationService
@inject ISharedContent Shared

<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            @if (CurrentUser != null)
            {
                <EditNickname />
            }
            else
            {
                <SettingsNoUserAlert />
            }
        </div>
        
        <div class="col-md-6 mb-4">
            <LanguageSettings />
            <GenderSettings />
            <NotificationSettings />
        </div>
    </div>
    
</div>

@code {
    
}
